/* detail.css */

.product-detail {
  display: flex;
  gap: 40px;
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 20px;
}

.product-images {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.product-images img {
  width: 100%;
}

.product-info {
  flex: 1;
  font-size: 16px;
}

.breadcrumb {
  color: #888;
  font-size: 16px;
  margin-bottom: 12px;
}

.breadcrumb ul {
  display: flex;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumb li::after {
  content: "/";
  margin-left: 8px;
  color: #ccc;
}

.breadcrumb li:last-child::after {
  content: "";
}

.product-name {
  font-size: 28px;
  font-weight: bold;
  margin: 12px 0;
}

.product-price .now {
  color: #57a203;
  font-weight: bold;
  font-size: 20px;
}

.product-price .old {
  text-decoration: line-through;
  margin-left: 12px;
  color: #adb5bd;
}

.product-desc {
  margin: 16px 0;
  color: #212529;
  line-height: 1.5;
}

.color-select,
.size-select {
  margin-top: 20px;
}

.size-select {
  margin-bottom: 8px;
}

.color-select .colors .color {
  border: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.colors,
.sizes {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
  background-color: #fff;
}

.sizes button {
  background-color: #fff;
  border-color: #dee2e6;
  padding: 12px 24px 12px 24px;
  border-radius: 5px;
}

.sizes .active {
  border-color: #212529;
}

.color img {
  width: 64px;
  height: 64px;
}

.color label {
  line-height: 1.5;
  color: #6c757d;
  margin-top: 4px;
}

.sizes button {
  padding: 6px 12px;
  cursor: pointer;
}

.stock-alert {
  color: #d74f4f;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 8px;
  display: inline-block;
}

.product-actions {
  display: flex;
  gap: 12px;
  margin-top: 48px;
}

.favorite-btn,
.cart-btn {
  padding: 12px 20px;
  border: 1px solid #000;
  background: white;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  width: 50%;
}

.cart-btn {
  background: #000;
  color: white;
}

.product-details {
  margin-top: 32px;
}

.product-details h4 {
  margin-top: 20px;
  font-weight: bold;
  line-height: 1.5;
}

.product-details p {
  margin-top: 6px;
  color: #555;
  line-height: 1.5;
}

.probably-like {
  margin: 48px 0 48px 0;
}

.probably-like h2 {
  font-weight: 700;
  font-style: 24px;
  line-height: 1.2;
  margin-bottom: 16px;
}
